# IDE-specific files
/.vscode
/.cursor
.cursorrules

# Temporary files and directories
/tmp

# Local development and testing
/dev
/.config
/.legacy
debug.log

# All .env files
*.env

# Miscellaneous system files